<!--<h1>{{userName}}</h1> -->
<h1 class="threeDchewy">{{userName}}</h1>

<div class="container">
    <!-- Selection Section -->
    <div class="selection-section">
        <form action="/image" method="get">
            {{#each images}}
                {{#unless (eq this "Gallery.jpg")}} <!-- Exclude Gallery.jpg -->
                    <input type="radio" name="image" value="{{this}}" id="{{this}}">
                    <label for="{{this}}">{{removeExtension this}}</label><br>
                {{/unless}}
            {{/each}}
            <button type="submit" class="submit-btn">Submit</button>
        </form>
    </div>

    <!-- Gallery Section -->
    <div class="gallery-section">
        <div class="image-box">
            <img src="/images/{{#if selectedImage}}{{selectedImage}}{{else}}Gallery.jpg{{/if}}" alt="Selected Image">
        </div>
        {{#if selectedImage}}
            <p class="image-name">{{removeExtension selectedImage}}</p>
        {{/if}}
    </div>
</div>
